body {
    background: #1f2d3b;
    font-size: 14px;
}
 
.clearfix:after {
    display: block;
    clear: both;
}
 

.nav-wrap {
    width: 100%;
    background: #2c4056;
}

 /*----- Breadcrumbs Outline -----*/

 .breadcrumbs {
 	float: left;
 	height: 100%;
 }

 .breadcrumbs > ul {
    padding-left: 10px;
 }

.breadcrumbs > ul > li {
	height: 100%;
	display: inline;
	float: left;
	margin: 10px 10px 10px 0;
}

.droppedCrumb:before {
	
}

.breadcrumbs > ul > li > a {
	color: #919191;
}

.breadcrumbs > ul > li > a:hover {
	text-decoration: none;
}

#top, 
#sub {
    display: none;
}

#top:before,
#sub:before {
    color: #919191;
    content: "  > ";
}

 /*----- Menu Outline -----*/

.menu {
    float: right;
}
 
.menu li {
    margin: 0px;
    list-style: none;
}
 
.menu a {
    /*transition: all linear 0.15s;*/
    color: #919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration: none;
    color: #919191;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    border-right: 1px solid #919191;
}
 
.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: #2c4056
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}
 
.sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #2c4056;
}
 
.sub-menu li {
    display: block;
    font-size: 16px;
}
 
.sub-menu li a {
    padding: 10px 30px;
    display: block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background: #3f536a;
}